@font-face {
  font-family: "Playfair Display";
  src: url(/fonts/PlayfairDisplay-Regular.ttf);
  font-weight: 400; /*normal and bold*/
}
@font-face {
  font-family: "Playfair Display";
  src: url(/fonts/PlayfairDisplay-Bold.ttf);
  font-weight: 700;
}

* {
  font-family: "Playfair Display";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100%;
  background-color: #38a863;
}

body {
  overflow-x: hidden;
}

/* NAVIGATION */

nav {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 8px 32px;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  background: #e4e1e150;
  padding: 8px 32px;
  border-radius: 64px;
  backdrop-filter: blur(4px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

nav li a {
  color: #190b28;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-underline-offset: 2px;
}

nav li a:hover {
  text-decoration: underline;
}

nav li a.active {
  font-weight: 700;
}

/* MAIN */

main {
  padding: 128px 64px;
}

/* ABOUT SECTION */

.about-content {
  display: flex;
  align-items: center;
  gap: 32px;
}

.text-style-1 {
  color: #d81e5b;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}

.text-style-1 a:visited {
  color: #d81e5b;
}

.text-style-1 a:hover {
  color: #d81e5b;
}

.text-style-1 a:active {
  color: #d81e5b;
}
.text-style-2 {
  color: #2c2427;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 5%;
}
.header-style {
  color: #2c2427;
  font-size: 104px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.profile-pic {
  width: 496px;
  height: 496px;
  flex-shrink: 0;
}

/* BACKGROUND */

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: #ffebf7;
}

.rectangle-bars {
  display: flex;
  margin-left: 72px;
  padding-top: 1000 px;
  padding-bottom: 50 px;
}

.rectangle-bar {
  width: 320px;
  height: 16px;
}

.rectangle-bar.pink {
  background-color: #2374ab;
}

footer {
  background-color: #fdf0d5;
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
footer a {
  color: #2c2427;
  text-decoration: none;
}
