.color-changer {
  position: relative;
  margin: 50px;
  font-family: inherit;
  font-size: 18px;
  border-radius: 40em;
  width: 8em;
  height: 3em;
  z-index: 1;
  color: #eef0f2;
  font-weight: 700;
  overflow: hidden;
  border: none;
}
html {
  background-color: #eef0f2;
}
.color-changer .text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  line-height: 3em;
  border-radius: 40em;
  border: none;
  background: linear-gradient(
    rgba(255, 255, 255, 0.473),
    rgba(150, 150, 150, 0.25)
  );
  z-index: 1;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.color-changer .blob {
  position: absolute;
  z-index: -1;
  border-radius: 5em;
  width: 5em;
  height: 3em;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.color-changer .blob:nth-child(2) {
  left: 0em;
  top: 0;
  background: #63d471;
}

.color-changer .blob:nth-child(3) {
  left: 1.8em;
  top: 0;
  z-index: -1;
  background: #0061ff;
}

.color-changer .blob:nth-child(4) {
  left: 4em;
  top: -1em;
  background: #f7cb15;
}
button .blob:nth-child(5) {
  left: 4.3em;
  top: 1.6em;
  background: #ed217c;
}

.color-changer:hover .blob:nth-child(2) {
  background: #f7cb15;
}

.color-changer:hover .blob:nth-child(3) {
  background: #63d471;
}

.color-changer:hover .blob:nth-child(4) {
  background: #ed217c;
}
button:hover .blob:nth-child(5) {
  background: #0061ff;
}

.color-changer:hover .blob {
  transform: scale(1.3);
}

.color-changer:active {
  border: 2px solid #eef0f2;
}

@font-face {
  font-family: "Playfair Display";
  src: url(/fonts/PlayfairDisplay-Regular.ttf);
  font-weight: 400; /*normal and bold*/
}
@font-face {
  font-family: "Playfair Display";
  src: url(/fonts/PlayfairDisplay-Bold.ttf);
  font-weight: 700;
}

* {
  font-family: "Playfair Display";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100vw;
  height: 100%;
}

body {
  overflow-x: hidden;
}

/* NAVIGATION */

nav {
  position: fixed;
  display: flex;
  width: 100%;
  padding: 8px 32px;
  justify-content: flex-end;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 16px;
  background: #e4e1e150;
  padding: 8px 32px;
  border-radius: 64px;
  backdrop-filter: blur(4px);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

nav li a {
  color: #190b28;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  text-underline-offset: 2px;
}

nav li a:hover {
  text-decoration: underline;
}

nav li a.active {
  font-weight: 700;
}

/* MAIN */

main {
  padding: 200px 64px;
}

/* BACKGROUND */

.background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  color: #eef0f2;
}

.blob {
  width: 1754px;
  height: 1442px;
  position: absolute;
}

.blob.one {
  top: -739px;
  left: -151px;
}

.blob.two {
  top: 34px;
  left: -1167px;
}

.blob.three {
  top: 439px;
  left: 776px;
}

.blob.green {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #63d471 0%,
    rgba(99, 212, 113, 0) 100%
  );
}

.blob.yellow {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #f7cb15 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.blob.pink {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #ed217c 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.rectangle-bars {
  display: flex;
  margin-left: 72px;
}

.rectangle-bar {
  width: 320px;
  height: 16px;
}

.rectangle-bar.pink {
  background-color: #ed217c;
}

.rectangle-bar.green {
  background-color: #63d471;
}

.text-style-1 {
  color: #d01167;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
}
.text-style-2 {
  color: #190b28;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}
