go-back-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #1a090d;
  border-radius: 16px;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: #1a090d;
  transition: background-color 0.2s ease-in-out;
  margin-top: 20px;
  margin-left: 0px;
}

.go-back-button:hover {
  background-color: #cc0070; /* Light gray background on hover for feedback */
  color: #ffebf7;
  border-color: #cc0070;
}
